<ion-header translucent>
  <ion-toolbar>
    <ion-title>Resultado</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card style="margin-top: 20px;">
    <ion-card-content style="padding: 0!important;margin-top: 20px;">
        <ion-row  style="margin-bottom: 25px; justify-content: center;">
          <ion-col size="10" *ngFor="let t of value;  let j = index" class="conta">
            <div style="margin: 25px;">
              <p style="color: gold;"> {{j}} </p><p>{{t.value}} </p>
            </div>
          </ion-col>
        </ion-row>
      <ion-row>
      
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
